api-info {
  margin-top: 1em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1aacdb;
}

.row {
  padding: 1em;
}

.content-container {
  font-weight: 300;
  line-height: 1.75em;
  margin: 80px auto;
  padding: 0 64px;
  width: 900px;
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .content-container {
    margin: 30px auto;
  }
}

.checkbox {
  width: 20px;
  height: 16px;
}

.checkbox-container {
  padding: 10px 0;
}

.checkbox-label {
  color: #95999d;
  font-size: 16px;
  font-weight: 300;
}

.not-visible {
  visibility: hidden;
}

.hidden-s {
  display: none;
}

@media screen and (min-width: 800px) {
  .hidden-s {
    display: initial;
  }
}

.info-text {
  color: #27292b;
}

input {
  background: transparent;
}

.footer {
  color: #606060;
  font-size: 30px;
  text-align: center;
}

.footer-logo {
  vertical-align: text-top;
  width: 190px;
}

.header-container {
  padding: 30px 0 0 0;
  width: 900px;
  max-width: 100%;
  margin: auto;
}

.header-logo {
  width: 250px;
}

.layout-container {
  margin: 0 20px;
}

.order-container {
  width: 900px;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  display: block;
  padding: 20px 50px;
  position: relative;
  border-radius: 3px;
  font-weight: 300;
  color: #27292b!important;
  background: #f8f8fa;
  box-shadow: 0 0 2px 0 rgba(35, 31, 32, .14), 0 0 24px 0 rgba(35, 31, 32, .24);
  font-size: 90%;
  line-height: 1.75em;
  transform-origin: center;
}

.order-container h2 {
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.order-container .dropzone-text {
  text-align: left;
  font-size: 15px
}

.order-info-upload {
  padding: 1em;
  margin-right: 30px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 350px;
  height: 150px;
  background-color: #f3f3f5;
  border: dashed 1px #95999d;
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 900px) {
  .order-info-upload {
    margin-bottom: 0;
  }
}

.order-info-upload:hover {
  background-color: #f0f0f2
}

.order-field {
  display: inline-block;
  position: relative;
}

.order-field-email,
.order-field-forename,
.order-field-surname,
.order-field-tel,
.order-field-street,
.order-field-zip,
.order-field-city {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  max-width: 350px;
}

.order-field-email,
.order-field-forename,
.order-field-street {
  margin-right: 20px;
}

.order-field-zip {
  margin-right: 20px;
  width: 100px;
}

@media screen and (min-width: 900px) {
  .order-field-zip {
    width: 15%;
  }
}

.order-field-city {
  width: 100%;
  max-width: 220px;
}

@media screen and (min-width: 900px) {
  .order-field-city {
    width: 35%;
  }
}

.order-field-zip input.order-input,
.order-field-city input.order-input {
  width: 100%;
}

.order-field-upload {
  top: -8px;
}

.order-btn {
  border: 0;
  outline: 0;
  height: 43px;
  font-size: 16px;
  line-height: 45px;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: .3px;
  border-radius: 3px;
  padding: 0 30px;
  margin-top: 20px;
  margin-bottom: 2px;
  color: #fff;
  background-color: #1aacdb;
  box-shadow: 0 2px 0 0 #0b475b;
  margin-right: 10px;
  transition: box-shadow transform 0.1s ease-in-out;
}

.order-btn:hover {
  background: #18a0cd;
  box-shadow: 0 2px 0 0 #1aacdb;
  transform: translateY(2px);
}

.order-btn.close-btn {
  margin: auto;
}

.order-btn.white {
  height: 45px;
  background: #f0f0f2;
  color: #27292b;
  box-shadow: 0 2px 0 0 #d1d3d5;
  transition: box-shadow transform 0.1s ease-in-out;
}

.order-btn.white:hover {
  color: #27292b;
  background: 0 0;
  box-shadow: none;
  transform: translateY(2px);
}

.order-text {
  font-size: 16px;
  letter-spacing: .3px;
  margin-bottom: 15px
}

input.order-input {
  font-size: 16px;
  padding: 5px 10px 10px 2px;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #95999d;
  color: #27292b
}

input.order-input:focus {
  outline: 0
}

input.order-input:focus~label,
input.order-input:valid~label {
  top: -20px;
  font-size: 14px;
  font-weight: 300;
  color: #95999d
}

@media screen and (min-width: 600px) {
  input.order-input {
    width: 350px;
  }
}

label.order-label {
  color: #95999d;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 2px;
  top: 10px;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all
}

label.order-label-upload {
  top: -20px;
}

@media screen and (min-width: 600px) {
  label.order-label-upload {
    top: 0;
  }
}

.dropzone-area {
  display: block
}

.dropzone-drop-previews {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.dropzone-remove {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  width: 30px;
  height: 30px;
  background: white;
  text-align: center;
  line-height: 1em; /* render above input field */
}

.dropzone-text {
  color: #95999d;
  font-size: 14px;
  text-align: center;
  display: block
}

.detail-links {
  width: 850px;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  display: block;
  padding: 40px 50px;
  text-align: right;
}
